@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS: because this is not a variable font, we've imported all the different types */

html,
body {
  overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cursor-blob {
  width: 80;
  height: 80;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  z-index: 50;
  pointer-events: none;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-image: linear-gradient(#ffffff 50%, #eee);
  opacity: 0.5;
  filter: blur(20px);
}

.header,
.header.font-normal {
  font-family: var(--font-header-400), monospace;
}
.header.font-medium {
  font-family: var(--font-header-500), monospace;
}
.header.font-semibold {
  font-family: var(--font-header-600), monospace;
}
.header.font-bold {
  font-family: var(--font-header-700), monospace;
}

body,
.body,
.body .font-normal {
  font-family: var(--font-body-400), sans-serif;
}
.body .font-medium {
  font-family: var(--font-body-500), sans-serif;
}
.body .font-semibold {
  font-family: var(--font-body-600), sans-serif;
}
.body .font-bold {
  font-family: var(--font-body-700), sans-serif;
}

.wrapper {
  @apply container mx-auto px-4;
}

.text-title {
  @apply text-base md:text-md;
}
