@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS: because this is not a variable font, we've imported all the different types */

html,
body {
  overflow-x: hidden;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cursor-blob {
  width: 80;
  height: 80;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  z-index: 50;
  pointer-events: none;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-image: linear-gradient(#ffffff 50%, #eee);
  opacity: 0.5;
  filter: blur(20px);
}

h1,
h2,
h3,
h4,
h5,
h6,
.mono {
  font-family: var(--font-family-mono), mono;
}

body,
.sans {
  font-family: var(--font-family-sans), sans-serif;
}

.wrapper {
  @apply container mx-auto px-4;
}

.text-title {
  @apply text-base md:text-md;
}
